## Uppigft 0 c)

In [131]:
##setup
import pandas as pd

In [132]:
## Read datafiles
athlete_path = "Data/athlete_events.csv"
regions_path = "Data/noc_regions.csv"

athlete_data = pd.read_csv(athlete_path)
region_data = pd.read_csv(regions_path)

In [133]:
sports_in_dataset = athlete_data["Sport"].unique()
list_index = 0
for _ in sports_in_dataset:
    print(f"Sports in the dataset are {sports_in_dataset[list_index]}")
    list_index += 1

Sports in the dataset are Basketball
Sports in the dataset are Judo
Sports in the dataset are Football
Sports in the dataset are Tug-Of-War
Sports in the dataset are Speed Skating
Sports in the dataset are Cross Country Skiing
Sports in the dataset are Athletics
Sports in the dataset are Ice Hockey
Sports in the dataset are Swimming
Sports in the dataset are Badminton
Sports in the dataset are Sailing
Sports in the dataset are Biathlon
Sports in the dataset are Gymnastics
Sports in the dataset are Art Competitions
Sports in the dataset are Alpine Skiing
Sports in the dataset are Handball
Sports in the dataset are Weightlifting
Sports in the dataset are Wrestling
Sports in the dataset are Luge
Sports in the dataset are Water Polo
Sports in the dataset are Hockey
Sports in the dataset are Rowing
Sports in the dataset are Bobsleigh
Sports in the dataset are Fencing
Sports in the dataset are Equestrianism
Sports in the dataset are Shooting
Sports in the dataset are Boxing
Sports in the dataset are Taekwondo
Sports in the dataset are Cycling
Sports in the dataset are Diving
Sports in the dataset are Canoeing
Sports in the dataset are Tennis
Sports in the dataset are Modern Pentathlon
Sports in the dataset are Figure Skating
Sports in the dataset are Golf
Sports in the dataset are Softball
Sports in the dataset are Archery
Sports in the dataset are Volleyball
Sports in the dataset are Synchronized Swimming
Sports in the dataset are Table Tennis
Sports in the dataset are Nordic Combined
Sports in the dataset are Baseball
Sports in the dataset are Rhythmic Gymnastics
Sports in the dataset are Freestyle Skiing
Sports in the dataset are Rugby Sevens
Sports in the dataset are Trampolining
Sports in the dataset are Beach Volleyball
Sports in the dataset are Triathlon
Sports in the dataset are Ski Jumping
Sports in the dataset are Curling
Sports in the dataset are Snowboarding
Sports in the dataset are Rugby
Sports in the dataset are Short Track Speed Skating
Sports in the dataset are Skeleton
Sports in the dataset are Lacrosse
Sports in the dataset are Polo
Sports in the dataset are Cricket
Sports in the dataset are Racquets
Sports in the dataset are Motorboating
Sports in the dataset are Military Ski Patrol
Sports in the dataset are Croquet
Sports in the dataset are Jeu De Paume
Sports in the dataset are Roque
Sports in the dataset are Alpinism
Sports in the dataset are Basque Pelota
Sports in the dataset are Aeronautics

In [134]:
type_of_medals = athlete_data["Medal"].unique()
type_of_medals = type_of_medals.tolist()
list_index = 0
for _ in type_of_medals:
    if list_index == 0:
        pass
    else:
        print(f"Types of medal are {type_of_medals[list_index]}")
    list_index += 1

Types of medal are Gold
Types of medal are Bronze
Types of medal are Silver

In [135]:
athlete_data["Age"].describe()

count    261642.000000
mean         25.556898
std           6.393561
min          10.000000
25%          21.000000
50%          24.000000
75%          28.000000
max          97.000000
Name: Age, dtype: float64

## Youngest and oldest athlete and sport

In [202]:
oldest_athlete_data = athlete_data.sort_values(by="Age", ascending=False).reset_index(drop=True)
youngest_athlete_data = athlete_data.sort_values(by="Age", ascending=True).reset_index(drop=True)
oldest_athlete = oldest_athlete_data.loc[(oldest_athlete_data["Age"] == 97) , ["Name", "NOC"]]
youngest_athlete = youngest_athlete_data
oldest_athlete.values[0]
#print(f"The youngest athlete ever was {youngest_athlete}")

array(['John Quincy Adams Ward', 'USA'], dtype=object)

## Number of medals

In [ ]:
russia_data = athlete_data[athlete_data["Team"].isin(["Russia", "Soviet Union"])].reset_index()
russia_data = russia_data.drop("index", axis="columns")
russia_data = russia_data.sort_values(by="Medal")
russia_data = russia_data.dropna()
russia_data.describe()

                  ID          Age       Height       Weight         Year
count    3294.000000  3294.000000  3294.000000  3294.000000  3294.000000
mean    73752.662720    25.232544   177.105950    74.190194  1984.270795
std     38569.692648     4.517398    11.846165    16.378440    17.263067
min        67.000000    14.000000   136.000000    30.000000  1912.000000
25%     44038.000000    22.000000   170.000000    62.000000  1972.000000
50%     73809.000000    25.000000   177.000000    74.000000  1980.000000
75%    108583.250000    28.000000   185.000000    84.000000  2000.000000
max    135563.000000    46.000000   223.000000   175.000000  2016.000000