## Uppigft 0 c)

In [2]:
##setup
import pandas as pd

In [3]:
## Read datafiles
athlete_path = "Data/athlete_events.csv"
regions_path = "Data/noc_regions.csv"

athlete_data = pd.read_csv(athlete_path)
region_data = pd.read_csv(regions_path)

In [4]:
sports_in_dataset = athlete_data["Sport"].unique()
list_index = 0
for _ in sports_in_dataset:
    print(f"Sports in the dataset are {sports_in_dataset[list_index]}")
    list_index += 1

Sports in the dataset are Basketball
Sports in the dataset are Judo
Sports in the dataset are Football
Sports in the dataset are Tug-Of-War
Sports in the dataset are Speed Skating
Sports in the dataset are Cross Country Skiing
Sports in the dataset are Athletics
Sports in the dataset are Ice Hockey
Sports in the dataset are Swimming
Sports in the dataset are Badminton
Sports in the dataset are Sailing
Sports in the dataset are Biathlon
Sports in the dataset are Gymnastics
Sports in the dataset are Art Competitions
Sports in the dataset are Alpine Skiing
Sports in the dataset are Handball
Sports in the dataset are Weightlifting
Sports in the dataset are Wrestling
Sports in the dataset are Luge
Sports in the dataset are Water Polo
Sports in the dataset are Hockey
Sports in the dataset are Rowing
Sports in the dataset are Bobsleigh
Sports in the dataset are Fencing
Sports in the dataset are Equestrianism
Sports in the dataset are Shooting
Sports in the dataset are Boxing
Sports in the dataset are Taekwondo
Sports in the dataset are Cycling
Sports in the dataset are Diving
Sports in the dataset are Canoeing
Sports in the dataset are Tennis
Sports in the dataset are Modern Pentathlon
Sports in the dataset are Figure Skating
Sports in the dataset are Golf
Sports in the dataset are Softball
Sports in the dataset are Archery
Sports in the dataset are Volleyball
Sports in the dataset are Synchronized Swimming
Sports in the dataset are Table Tennis
Sports in the dataset are Nordic Combined
Sports in the dataset are Baseball
Sports in the dataset are Rhythmic Gymnastics
Sports in the dataset are Freestyle Skiing
Sports in the dataset are Rugby Sevens
Sports in the dataset are Trampolining
Sports in the dataset are Beach Volleyball
Sports in the dataset are Triathlon
Sports in the dataset are Ski Jumping
Sports in the dataset are Curling
Sports in the dataset are Snowboarding
Sports in the dataset are Rugby
Sports in the dataset are Short Track Speed Skating
Sports in the dataset are Skeleton
Sports in the dataset are Lacrosse
Sports in the dataset are Polo
Sports in the dataset are Cricket
Sports in the dataset are Racquets
Sports in the dataset are Motorboating
Sports in the dataset are Military Ski Patrol
Sports in the dataset are Croquet
Sports in the dataset are Jeu De Paume
Sports in the dataset are Roque
Sports in the dataset are Alpinism
Sports in the dataset are Basque Pelota
Sports in the dataset are Aeronautics

In [5]:
type_of_medals = athlete_data["Medal"].unique()
type_of_medals = type_of_medals.tolist()
list_index = 0
for _ in type_of_medals:
    if list_index == 0:
        pass
    else:
        print(f"Types of medal are {type_of_medals[list_index]}")
    list_index += 1

Types of medal are Gold
Types of medal are Bronze
Types of medal are Silver

In [6]:
athlete_data["Age"].describe()

count    261642.000000
mean         25.556898
std           6.393561
min          10.000000
25%          21.000000
50%          24.000000
75%          28.000000
max          97.000000
Name: Age, dtype: float64

## Youngest and oldest athlete and sport

In [7]:
oldest_athlete_data = athlete_data.sort_values(by="Age", ascending=False).reset_index(drop=True)
youngest_athlete_data = athlete_data.sort_values(by="Age", ascending=True).reset_index(drop=True)
oldest_athlete = oldest_athlete_data.loc[(oldest_athlete_data["Age"] == 97) , ["Name", "Sport", "Age","Year"]]
youngest_athlete = youngest_athlete_data.loc[(youngest_athlete_data["Age"] == 10), ["Name", "Sport", "Age", "Year"]]
oldest_athlete = oldest_athlete.values[0]
oldest_athlete = oldest_athlete.tolist()
youngest_athlete = youngest_athlete.values[0]
youngest_athlete = youngest_athlete.tolist()

print(f"The youngest athlete ever was {youngest_athlete[0]}. He competed in {youngest_athlete[1]} when he was {youngest_athlete[2]} in the year: {youngest_athlete[3]}")
print(f"The oldest athlete ever was {oldest_athlete[0]}. He competed in {oldest_athlete[1]} when he was {oldest_athlete[2]} in the year: {oldest_athlete[3]}")

The youngest athlete ever was Dimitrios Loundras. He competed in Gymnastics when he was 10.0 in the year: 1896
The oldest athlete ever was John Quincy Adams Ward. He competed in Art Competitions when he was 97.0 in the year: 1928

## Oldest sport

In [8]:
oldest_sport_data = athlete_data.sort_values(by="Year", ascending=True).reset_index(drop=True)
oldest_sport_data = oldest_sport_data.loc[(oldest_sport_data["Year"] == 1896), ["Sport"]].drop_duplicates().reset_index(drop=True)
oldest_sports = oldest_sport_data.values.tolist()
oldest_sports = [i for list_item in oldest_sports for i in list_item] ## Coverts nested list to a normal list
oldest_sports ## Code insperation taken from https://thispointer.com/python-convert-list-of-lists-or-nested-list-to-flat-list/
list_index = 0
print("The oldest sports in the olympicts are:")
for _ in oldest_sports:
    print(oldest_sports[list_index])
    list_index += 1

The oldest sports in the olympicts are:
Gymnastics
Athletics
Shooting
Tennis
Fencing
Swimming
Cycling
Weightlifting
Wrestling

## Country with the most gold

In [9]:
athlete_data = athlete_data.drop_duplicates(subset=["Event", "Games", "Medal"])
gold_medals = athlete_data.loc[(athlete_data["Medal"] == "Gold"), ["Team", "Medal"]].reset_index(drop=True)
highest_medal_count_country = gold_medals["Team"].value_counts().reset_index().rename({"Team": "Medal Count", "index": "Country"}, axis="columns")
highest_medal_count_country = highest_medal_count_country.values[0]
highest_medal_count_country.tolist()
print(f"The country with the most amount of gold medals is {highest_medal_count_country[0]} with a medal count of {highest_medal_count_country[1]}")

The country with the most amount of gold medals is United States with a medal count of 1081

## Number of medals

In [10]:
russia_data = athlete_data[athlete_data["Team"].isin(["Russia", "Soviet Union"])].reset_index(drop=True)
russia_gold = russia_data[(russia_data["Medal"] == "Gold")].reset_index(drop=True)
russia_silver = russia_data[(russia_data["Medal"] == "Silver")].reset_index(drop=True)
russia_bronze = russia_data[(russia_data["Medal"] == "Bronze")].reset_index(drop=True)
russia_medals = pd.concat([russia_gold, russia_silver, russia_bronze])
russia_best_sport = russia_medals["Sport"].value_counts().reset_index().rename({"Sport": "Medal Count", "index": "Sport"}, axis="columns")
russia_best_sport = russia_best_sport.values[0]
russia_best_sport = russia_best_sport.tolist()
print(f"Russias top sport through the years has been {russia_best_sport[0]} with a medal count of {russia_best_sport[1]}")

Russias top sport through the years has been Athletics with a medal count of 267

### Russias best athlete

In [11]:
russia_best_athletes = russia_medals["Name"].value_counts().reset_index().rename({"Name": "Medal count", "index": "Name"}, axis="columns")
russias_best_athlete = russia_best_athletes.values[0]
russias_best_athlete = russias_best_athlete.tolist()
print(f"Russia's best athlete ever is {russias_best_athlete[0]} with a medal count of {russias_best_athlete[1]}")

Russia's best athlete ever is Nikolay Yefimovich Andrianov with a medal count of 15

In [12]:
import hashlib as hl
import pandas as pd

athlete_path = "Data/athlete_events.csv"
athlete_data = pd.read_csv(athlete_path)
hashed_names = athlete_data["Name"].apply(lambda x: hl.sha256(x.encode()).hexdigest())
athlete_data.insert(1, "Hashed names", hashed_names)
athlete_data.drop("Name", axis="columns")

,ID,Hashed names,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,3a4eef48434c66b3f14ab0221f6762d0ef7c6135ab2790...,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,a6430cc6630934275dc6283f7e97e9625e6587cdddec7a...,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,9c198b205332c2c8e1542e0f9534b9e270780a41d978ec...,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,0a477bb1c5ad39716f9c775e54d18d16aa8b37ada55548...,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,5b7be356aa28178096dc6747f0b8e4e393eaceb5f95310...,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,07f491e055f56a7a7be133c9cf6563c253d3aa0d137630...,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,2f748d07ca91a5a1a6871b8f05cdd4d69f194615a82ca5...,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,2f748d07ca91a5a1a6871b8f05cdd4d69f194615a82ca5...,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,e7fd567d163933f9b76a0094f18afbf8e8291b179c5487...,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,e7fd567d163933f9b76a0094f18afbf8e8291b179c5487...,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

## Plots

### Procent amount of medels per year
- Line plot
- Summer = Red
- Winter = blue

In [13]:
import plotly_express as px

In [35]:
athlete_data = athlete_data.drop_duplicates(subset=["Event", "Games", "Medal"])
russia_data = athlete_data[athlete_data["Team"].isin(["Russia", "Soviet Union"])].reset_index(drop=True)
russia_winter_data = russia_data[russia_data["Season"].isin(["Winter"])].reset_index(drop=True)
russia_winter_gold = russia_winter_data[(russia_winter_data["Medal"] == "Gold")].reset_index(drop=True)
russia_winter_silver = russia_winter_data[(russia_winter_data["Medal"] == "Silver")].reset_index(drop=True)
russia_winter_bronze = russia_winter_data[(russia_winter_data["Medal"] == "Bronze")].reset_index(drop=True)
russia_winter_data = pd.concat([russia_winter_gold, russia_winter_silver, russia_winter_bronze])
russia_winter_medals = russia_winter_data["Year"].value_counts().reset_index().rename({"Year": "Medal count", "index": "Year"}, axis="columns")
russia_winter_medals = russia_winter_medals.sort_values(by="Year", ascending=True).reset_index(drop=True)

russia_summer_data = russia_data[russia_data["Season"].isin(["Summer"])].reset_index(drop=True)
russia_summer_gold = russia_summer_data[(russia_summer_data["Medal"] == "Gold")].reset_index(drop=True)
russia_summer_silver = russia_summer_data[(russia_summer_data["Medal"] == "Silver")].reset_index(drop=True)
russia_summer_bronze = russia_summer_data[(russia_summer_data["Medal"] == "Bronze")].reset_index(drop=True)
russia_summer_data = pd.concat([russia_summer_gold, russia_summer_silver, russia_summer_bronze])
russia_summer_medals = russia_summer_data["Year"].value_counts().reset_index().rename({"Year": "Medal count", "index": "Year"}, axis="columns")
russia_summer_medals = russia_summer_medals.sort_values(by="Year", ascending=True).reset_index(drop=True)

winter_medals = athlete_data[athlete_data["Season"].isin(["Winter"])].reset_index(drop=True)
winter_gold = winter_medals[(winter_medals["Medal"] == "Gold")].reset_index(drop=True)
winter_silver = winter_medals[(winter_medals["Medal"] == "Silver")].reset_index(drop=True)
winter_bronze = winter_medals[(winter_medals["Medal"] == "Bronze")].reset_index(drop=True)
all_the_medals = pd.concat([winter_gold, winter_silver, winter_bronze])
winter_medals = all_the_medals["Year"].value_counts().reset_index().rename({"Year": "World medal count", "index": "Year"}, axis="columns")
winter_medals = winter_medals.sort_values(by="Year", ascending=True)

summer_medals = athlete_data[athlete_data["Season"].isin(["Summer"])].reset_index(drop=True)
summer_gold = summer_medals[(summer_medals["Medal"] == "Gold")].reset_index(drop=True)
summer_silver = summer_medals[(summer_medals["Medal"] == "Silver")].reset_index(drop=True)
summer_bronze = summer_medals[(summer_medals["Medal"] == "Bronze")].reset_index(drop=True)
all_the_medals = pd.concat([summer_gold, summer_silver, summer_bronze])
summer_medals = all_the_medals["Year"].value_counts().reset_index().rename({"Year": "World medal count", "index": "Year"}, axis="columns")
summer_medals = summer_medals.sort_values(by="Year", ascending=True).reset_index(drop=True)

russia_winter_medals["Winter procent medals"] = russia_winter_medals["Medal count"]/winter_medals["World medal count"]
russia_summer_medals["Procent of medals"] = russia_summer_medals["Medal count"]/summer_medals["World medal count"]
russia_medals = pd.concat([russia_winter_medals, russia_summer_medals]).reset_index(drop=True)
russia_medals = russia_medals.sort_values(by="Year", ascending=True).reset_index(drop=True)
russia_medals

# fig = px.line(russia_medals, x="Year", y=["Summer Procent Medals", "Winter Procent Medals"])
# fig.show()

    Year  Medal count  Season  Procent of medals
0   1908            3  Summer           0.025862
1   1912            3  Summer           0.011765
2   1952           67  Summer           0.243636
3   1956           90  Summer           0.410959
4   1956           15  Winter           0.051195
5   1960           20  Winter           0.077821
6   1960           99  Summer           0.320388
7   1964           90  Summer           0.291262
8   1964           21  Winter           0.083333
9   1968           88  Summer           0.198646
10  1968           11  Winter           0.047414
11  1972           96  Summer           0.248062
12  1972           14  Winter           0.070352
13  1976          120  Summer           0.338028
14  1976           24  Winter           0.133333
15  1980           18  Winter           0.107784
16  1980          190  Summer           0.513514
17  1984           19  Winter           0.137681
18  1988           23  Winter           0.196581
19  1988          125  Summer           0.297619
20  1994           19  Winter           0.168142
21  1996           59  Summer           0.135632
22  1998           14  Winter           0.126126
23  2000           87  Summer           0.195946
24  2002           11  Winter           0.105769
25  2004           87  Summer           0.194196
26  2006           19  Winter           0.186275
27  2008           70  Summer           0.156600
28  2010           13  Winter           0.131313
29  2012           76  Summer           0.156379
30  2014           28  Winter           0.350000
31  2016           54  Summer           0.105058